@model AzureASPProcject.PhoneRefBrands

@{
    ViewBag.Title = "Usuń";
}


<h3>Czy napewno chcesz usunąć markę telefonu?</h3>
<div>
    <h4>Marka telefonu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.PhoneRefBrandName, "Marka", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneRefBrandName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
