@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Brak dostępu";
}

<h1 class="text-danger">Brak dostępu.</h1>
<h2 class="text-danger">Nie posiadasz uprawnień do przeglądania tej strony</h2>

